@import url('https://fonts.googleapis.com/css?family=Anton|Arvo|Muli|Open+Sans+Condensed:300|Spartan|Trade+Winds&display=swap');

// font-family: 'Spartan', sans-serif;
// font-family: 'Trade Winds', cursive;
// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Muli', sans-serif;
// font-family: 'Arvo', serif;
// font-family: 'Anton', sans-serif;

$gold-color: rgb(255, 187, 0);
$default-margin: 10px;
$default-padding: 10px;
$default-border: 3px solid white;

$medium-font-size: 28px;
$regular-font-size: 16px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background: black;
}

.border {
    box-sizing: border-box;
    border: white 3px solid;
    margin: $default-margin;
    padding: $default-padding;
}
//---------------------------------- header ---------------------------------------------

.header-container {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: 'Trade Winds', cursive;
        font-size: 70px;
        color: $gold-color;
        text-shadow: 5px 5px 1px white;
    }

    h2 {
        font-size: $medium-font-size;
    }
}


//------------------------------ SearchBar --------------------------------------------


.search-container {
    display: flex;
    justify-content: center;
 
    input {
        display: block;
        box-sizing: border-box;
        height: 50px;
        line-height: 10px;
        width: 90vw;
        padding: $default-padding;
        margin: $default-margin;
        color: black;
    }
}

//---------------------------------- main ---------------------------------------------

.main-container {
    display: flex;
    flex-direction:  column;

    padding: $default-padding;
    width: 100vw;
    height: 100vh;    
    box-sizing: border-box;


    header {
        display: flex;
        justify-content: center;
        margin: $default-margin;
    }
    
    
    .main-content {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        overflow: scroll;
    }
}

// ------------------------------------- Champions List --------------------------------------

.champions-list-container {
    display: flex;
    justify-content: center;
    font-size: 12px;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Trade Winds', cursive;

    ul.champions-list {
        display: flex;
        flex-flow: row wrap;
        flex-direction: row;
        align-content: flex-start;
        justify-content: center;
        box-sizing: border-box;
        overflow: scroll;
        padding-right: 20px;
        padding-left: 20px;

        li.champions-list-item {
            display: flex;
            width: 150px;
            height: 175px;
            flex-direction: column;
            padding: $default-padding;
            margin: $default-margin;

            h2.item-name {
                background: rgba($color: white, $alpha: 0);
                color: white ;
                transform: translate(0px);
                text-shadow: 0px 0px black;
                padding: 2px;
                transition: transform .5s, color .5s, text-shadow .5s;
            }
            .image-container {
                text-align: center;
                width: auto;
                height: auto;
                overflow: hidden;

                img {
                    transform: rotate(3deg) scale(1.4);
                    transition: transform .5s;
                }
            }
            

            &:hover {
                border: $gold-color solid 3px;
                background: $gold-color;

                img {
                    transform: scale(1.1) rotate(-2deg);
                }

                .item-name {
                    color: white;
                    background: rgba($color: $gold-color, $alpha: 0);
                    text-shadow: 3px 3px black;
                    transform: translate(20px) scale(1.2);
                }
            }
        }

        .champions-list-nochampions {
            font-size: $medium-font-size;
        }
       
    }  
        
}
        


// ---------------------------------------- Champion Select ---------------------------------


.champion-container {
    display: flex;
    flex-direction: row;
    min-height: 100%;

    //font-family: 'Spartan', sans-serif;
    //font-family: 'Trade Winds', cursive;
    //font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Muli', sans-serif;
    //font-family: 'Arvo', serif;
    //font-family: 'Anton', sans-serif;

    .champion-image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        color: white;
        background: black;

        .champion-name-container {
            display: inline-block;
            position: absolute;
            top: 30px;
            
            font-family: 'Trade Winds', cursive;
            font-size: 35px;
            text-decoration: underline;
            
            transform: rotate(-10deg) skew(-10deg);

            h1 {
                transform: rotate(5deg);
            }
        }

        .champion-title-container {
            position: relative;
            
            h2 {
                font-family: 'Trade Winds', cursive;
                position: absolute;
                z-index: 1000;
                display: inline-block;
                font-size: 50px;
                top: -150px;
                right: -20px;
                font-weight: bolder;
                transform: rotate(-15deg);
                text-align: right;
                text-shadow: 5px 5px 10px rgb(0, 0, 0, 1);

                &:first-letter {
                    text-transform:capitalize;
                }   
            }   
        }

       
    }

    .champion-spell-container {
        display: flex;
        color: white;
        flex-direction: column;
        font-size: 14px;
        min-height: 100%;

        .spells-list-container {
            display: flex;
            flex-direction: column;
            min-height: 25%;
           

            .spells-list {
                display: flex;
                list-style: none;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex: 3;
                background: rgba($color: #000000, $alpha: 0.5);

            }
        
            li {
                display: flex;
                flex-direction: column;
                padding: $default-padding;
                height: 100%;
                flex: 1;
    
        
                img {
                    box-sizing: border-box;
                    border: 3px solid white;
                    transform: scale(1.0);
                }

                h2 {
                    font-size: 18px;
                    margin: ($default-margin/2);
                   
                }
        
                img:hover {
                    transform: scale(0.9);
                }
        
                i {
                    display: inline-block;
                    font-weight: bolder;
                    margin: ($default-margin/2);
                    transition: color 1s;
                }

                .active {
                    h2 {
                        color: $gold-color;
                    }
                     
                    p i {
                        color: $gold-color;
                    }

                    img {
                        border: $gold-color 3px solid;
                    }
                }
            }
        }

        .description-container {
            display: flex;
            min-height: 22%;
            max-height: 22%;
            font-size: $regular-font-size;
            

            div:first-child {
                width: 100%;
                background: rgba($color: #000000, $alpha: 0.5);
                box-sizing: border-box;
                overflow: scroll;
            }

           h2 {
               color: $gold-color;
               margin: $default-margin;
               font-size: 24px;   
           }

           p {
               color: $gold-color;
               margin: $default-margin;
           }
        }
    
    }

    .champion-info-container {
        display: flex;
        min-height: 47%;
        font-size: $regular-font-size;

        .stats-container {
            background: rgba($color: #000000, $alpha: 0.5);
            height: 95%;
            flex: 3;
        }

        .lore-container {
            display: flex;
            flex-direction: column;
            text-align: justify;
            padding: $default-padding;
            background: rgba($color: #000000, $alpha: 0.5);
            overflow: scroll;

            h2 {
                margin: $default-margin;
            }

            p {
                margin: $default-margin;
            }

            height: 95%;
            flex: 4;
        }
    }

}

// --------------------------- User Action/Animation --------------------------


// --- stats ----
.grid-container {
    display: grid;
    grid-template-columns:  repeat(9, 1fr);
    padding: $default-padding;

    .grid-item {
        grid-column-start: 1;
        grid-column-end: 10;
        margin: 2px;
    }


    .grid-animate-setting {
        grid-column-start: 1;
        grid-column-end: 10;
        padding: 5px;
        text-align: center; 
        margin-bottom: 1px;
        width: 0%;
        animation: animateStat 1s ease-out 1.5s 1 normal forwards;
    }

    .attack-item {
        background: linear-gradient(90deg, rgb(255, 28, 28), rgba(128, 0, 0, 0.01));        
    }

    .defense-item {
        background: linear-gradient(90deg, rgb(0, 255, 0),rgba(0, 255, 0, 0.01));
       
    }

    .magic-item {
        background: linear-gradient(90deg, rgb(0, 47, 255), rgba(0,0,139, 0.01));
    }

    .difficulty-item {
        background: linear-gradient(90deg, rgb(255, 173, 20), rgba(160, 91, 0, 0.01));
    }
}

.champions-list-item {
    transform: translate3d(0);
    opacity: 0;
    animation: animateChampionSelection 1s ease-in 0s 1 normal forwards;
}



@keyframes animateStat {
    from {
        width: 0%;
    }
    to {  
        width: 100%;
    }
}

@keyframes animateChampionSelection {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




// @media screen and (max-width: 1250px) {
    
//     .champion-spell-container {
//         padding:  0;
//         .spells-list {
//            h2 {
//                background: red; 
//                font-size: 12px !important;
//            }
//         }
//     }
    
//     .description-container {
//         min-height: auto;
//         max-height: auto;
//         padding: 0;
//         div:first-child {
           
//         }

//        h2 {
//         font-size: 12px !important; 
//        }

//        p {
//         font-size: 12px !important;
//        }
//     }
//   }

//   @media screen and (max-width: 800px) {
//       .main-content {
//         display: flex !important;
//         flex-direction: column !important;
//         background: blue !important;
//       }
//   }