@import url("https://fonts.googleapis.com/css?family=Anton|Arvo|Muli|Open+Sans+Condensed:300|Spartan|Trade+Winds&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background: black;
}

.border {
  box-sizing: border-box;
  border: white 3px solid;
  margin: 10px;
  padding: 10px;
}

.header-container {
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-container h1 {
  font-family: "Trade Winds", cursive;
  font-size: 70px;
  color: #ffbb00;
  text-shadow: 5px 5px 1px white;
}
.header-container h2 {
  font-size: 28px;
}

.search-container {
  display: flex;
  justify-content: center;
}
.search-container input {
  display: block;
  box-sizing: border-box;
  height: 50px;
  line-height: 10px;
  width: 90vw;
  padding: 10px;
  margin: 10px;
  color: black;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.main-container header {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.main-container .main-content {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  overflow: scroll;
}

.champions-list-container {
  display: flex;
  justify-content: center;
  font-size: 12px;
  box-sizing: border-box;
  width: 100%;
  font-family: "Trade Winds", cursive;
}
.champions-list-container ul.champions-list {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  box-sizing: border-box;
  overflow: scroll;
  padding-right: 20px;
  padding-left: 20px;
}
.champions-list-container ul.champions-list li.champions-list-item {
  display: flex;
  width: 150px;
  height: 175px;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
.champions-list-container ul.champions-list li.champions-list-item h2.item-name {
  background: rgba(255, 255, 255, 0);
  color: white;
  transform: translate(0px);
  text-shadow: 0px 0px black;
  padding: 2px;
  transition: transform 0.5s, color 0.5s, text-shadow 0.5s;
}
.champions-list-container ul.champions-list li.champions-list-item .image-container {
  text-align: center;
  width: auto;
  height: auto;
  overflow: hidden;
}
.champions-list-container ul.champions-list li.champions-list-item .image-container img {
  transform: rotate(3deg) scale(1.4);
  transition: transform 0.5s;
}
.champions-list-container ul.champions-list li.champions-list-item:hover {
  border: #ffbb00 solid 3px;
  background: #ffbb00;
}
.champions-list-container ul.champions-list li.champions-list-item:hover img {
  transform: scale(1.1) rotate(-2deg);
}
.champions-list-container ul.champions-list li.champions-list-item:hover .item-name {
  color: white;
  background: rgba(255, 187, 0, 0);
  text-shadow: 3px 3px black;
  transform: translate(20px) scale(1.2);
}
.champions-list-container ul.champions-list .champions-list-nochampions {
  font-size: 28px;
}

.champion-container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  font-family: "Muli", sans-serif;
}
.champion-container .champion-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: white;
  background: black;
}
.champion-container .champion-image-container .champion-name-container {
  display: inline-block;
  position: absolute;
  top: 30px;
  font-family: "Trade Winds", cursive;
  font-size: 35px;
  text-decoration: underline;
  transform: rotate(-10deg) skew(-10deg);
}
.champion-container .champion-image-container .champion-name-container h1 {
  transform: rotate(5deg);
}
.champion-container .champion-image-container .champion-title-container {
  position: relative;
}
.champion-container .champion-image-container .champion-title-container h2 {
  font-family: "Trade Winds", cursive;
  position: absolute;
  z-index: 1000;
  display: inline-block;
  font-size: 50px;
  top: -150px;
  right: -20px;
  font-weight: bolder;
  transform: rotate(-15deg);
  text-align: right;
  text-shadow: 5px 5px 10px black;
}
.champion-container .champion-image-container .champion-title-container h2:first-letter {
  text-transform: capitalize;
}
.champion-container .champion-spell-container {
  display: flex;
  color: white;
  flex-direction: column;
  font-size: 14px;
  min-height: 100%;
}
.champion-container .champion-spell-container .spells-list-container {
  display: flex;
  flex-direction: column;
  min-height: 25%;
}
.champion-container .champion-spell-container .spells-list-container .spells-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 3;
  background: rgba(0, 0, 0, 0.5);
}
.champion-container .champion-spell-container .spells-list-container li {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  flex: 1;
}
.champion-container .champion-spell-container .spells-list-container li img {
  box-sizing: border-box;
  border: 3px solid white;
  transform: scale(1);
}
.champion-container .champion-spell-container .spells-list-container li h2 {
  font-size: 18px;
  margin: 5px;
}
.champion-container .champion-spell-container .spells-list-container li img:hover {
  transform: scale(0.9);
}
.champion-container .champion-spell-container .spells-list-container li i {
  display: inline-block;
  font-weight: bolder;
  margin: 5px;
  transition: color 1s;
}
.champion-container .champion-spell-container .spells-list-container li .active h2 {
  color: #ffbb00;
}
.champion-container .champion-spell-container .spells-list-container li .active p i {
  color: #ffbb00;
}
.champion-container .champion-spell-container .spells-list-container li .active img {
  border: #ffbb00 3px solid;
}
.champion-container .champion-spell-container .description-container {
  display: flex;
  min-height: 22%;
  max-height: 22%;
  font-size: 16px;
}
.champion-container .champion-spell-container .description-container div:first-child {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  overflow: scroll;
}
.champion-container .champion-spell-container .description-container h2 {
  color: #ffbb00;
  margin: 10px;
  font-size: 24px;
}
.champion-container .champion-spell-container .description-container p {
  color: #ffbb00;
  margin: 10px;
}
.champion-container .champion-info-container {
  display: flex;
  min-height: 47%;
  font-size: 16px;
}
.champion-container .champion-info-container .stats-container {
  background: rgba(0, 0, 0, 0.5);
  height: 95%;
  flex: 3;
}
.champion-container .champion-info-container .lore-container {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  overflow: scroll;
  height: 95%;
  flex: 4;
}
.champion-container .champion-info-container .lore-container h2 {
  margin: 10px;
}
.champion-container .champion-info-container .lore-container p {
  margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding: 10px;
}
.grid-container .grid-item {
  grid-column-start: 1;
  grid-column-end: 10;
  margin: 2px;
}
.grid-container .grid-animate-setting {
  grid-column-start: 1;
  grid-column-end: 10;
  padding: 5px;
  text-align: center;
  margin-bottom: 1px;
  width: 0%;
  animation: animateStat 1s ease-out 1.5s 1 normal forwards;
}
.grid-container .attack-item {
  background: linear-gradient(90deg, #ff1c1c, rgba(128, 0, 0, 0.01));
}
.grid-container .defense-item {
  background: linear-gradient(90deg, lime, rgba(0, 255, 0, 0.01));
}
.grid-container .magic-item {
  background: linear-gradient(90deg, #002fff, rgba(0, 0, 139, 0.01));
}
.grid-container .difficulty-item {
  background: linear-gradient(90deg, #ffad14, rgba(160, 91, 0, 0.01));
}

.champions-list-item {
  transform: translate3d(0);
  opacity: 0;
  animation: animateChampionSelection 1s ease-in 0s 1 normal forwards;
}

@keyframes animateStat {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes animateChampionSelection {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
